@model ShawnSnyderFinalProject.MVC.UI.Models.ContactViewModel
@{
    ViewBag.Title = "EmailConfirmation";
}

<div class="btn btn-default" style="margin-top:20%;text-align:center;">
    <h2>Message Sent</h2>
    <h3><a href="@Url.Action("Index","Home")">Return to Home</a></h3>
</div>