@using Microsoft.AspNet.Identity


@if (Request.IsAuthenticated)
{
    var id = User.Identity.GetUserId();
    ShawnSnyderFinalPrject.MVC.DATA.DnDTheatersEntities db = new ShawnSnyderFinalPrject.MVC.DATA.DnDTheatersEntities();
    var useritem = db.UserDetails.Where(x => x.UserID == id).FirstOrDefault();

    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Welcome " + useritem.FirstName + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage", style = "margin-left:10px;color:white;", @class = "text-center" });
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()" style="margin-left:10px;color:white" class="nav-link text-center">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "text-center", style = "margin-left:10px;color:white;" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "text-center", style = "margin-left:10px;color:white;" })</li>
    </ul>
}
