body {
    background-color: #555;
    background-image: url(../img/BackgroundImage.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
    padding: 10px 0;
    z-index: 10;
}

    .navbar li a {
        color: white;
    }

#main-wrapper {
    min-height: 85vh;
    background-color: white;
    width: 60%;
    padding: 30px;
}

.row.content {
    height: 450px
}

.navbar-right {
    margin-right: 10px;
}

footer {
    background-color: black;
    color: white;
    padding: 15px;
    height: 100%;
}

/* On small screens, ditch the side padding */
@media screen and (max-width: 767px) {
    #main-wrapper {
        width: 100%;
    }

    .navbar-right {
        margin-right: -15px;
    }

    #myNavbar {
        width: 80%;
        margin: auto;
        overflow-x: hidden
    }
}

.card {
    display: inline-block;
}

.footer-left{
    float:left;
    text-align:center;
    margin-left:25%;
}

.footer-right{
    float:right;
    text-align:center;
    margin-right:25%;
}