body {
    background-color: #555;
    background-image: url(../img/BackgroundImage.jpg);
    background-attachment: fixed;
    background-size: cover;
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
    padding-top:1em;
    z-index: 10;
}

.navbar-nav li a {
    color: white;
}

.management-tab {
    background-color: #444;
    color: white;
    z-index: 1000;
    float: left;
    padding: 1em;
    border-radius: 0 0 10px 0;
}

.management-content {
    color: white;
}

#main-wrapper {
    min-height: 85vh;
    background-color: white;
    background-color: rgba(255, 255, 255, 0.9);
    width: 60%;
    padding: 30px;
}

.owl-item {
    cursor: ew-resize;
}

.owl-item:hover{
    text-decoration:none;
}

.row.content {
    height: 450px
}

.navbar-right {
    margin-right: 10px;
}

footer {
    background-color: black;
    color: white;
    padding: 15px;
    height: 100%;
}

.card {
    display: inline-block;
}

.footer-left {
    float: left;
    text-align: center;
    margin-left: 25%;
}

.footer-right {
    float: right;
    text-align: center;
    margin-right: 25%;
}

/* On small screens, ditch the side padding */
@media screen and (max-width: 1000px) {
    #main-wrapper {
        width: 100%;
        background-color:white;
    }

    .navbar-right {
        margin-right: -15px;
    }

    #myNavbar {
        width: 80%;
        margin: auto;
        overflow-x: hidden;
    }

    .footer-left {
        float: none;
        text-align: center;
        margin:auto;
        margin-bottom:10px;
    }

    .footer-right {
        float: none;
        text-align: center;
        margin:auto;
    }

}
